#g-navigation {
  .jl-navbar-container:not(.jl-navbar-transparent) {
    background: $navigation-background;
  }
  .g-main-nav .g-dropdown {
    background: $menustyle-sublevel-background;
    .jl-nav {
      padding: 25px;
    }
    .moduletable,
    .widget {
      color: $menustyle-sublevel-text-color;
      a {
        color: $menustyle-sublevel-text-color;
        &:hover,
        &:focus {
          color: $menustyle-sublevel-text-color-hover;
        }
        &:active {
          color: $menustyle-sublevel-text-color-active;
        }
      }
    }
  }
  // Extended style
  .jl-navbar-nav > li > a {
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      color: $accent-color-1;
      display: block;
      bottom: 25px;
      left: 0;
      opacity: 0;
      width: 25px;
      border-top: 2px solid;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  .jl-navbar-nav > li:hover > a::after,
  .jl-navbar-nav > li > a:focus::after,
  .jl-navbar-nav > li > a[aria-expanded="true"]::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
  }

  .jl-navbar-nav > li > a:active::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .jl-navbar-nav > li.jl-active > a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
  }

  .g-main-nav .g-toplevel > li > .g-menu-item-container {
    position: relative;
    z-index: 1;
  }
  .g-main-nav .g-toplevel > li > .g-menu-item-container:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    height: 2px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    transition-property: background-color, border-color, box-shadow, height, left, right, opacity;
    left: 15px;
    right: calc(102% - 15px);
  }

  .g-main-nav .g-toplevel > li:hover > .g-menu-item-container:before {
    right: 15px;
    background-color: $accent-color-1;
  }

  .g-main-nav .g-toplevel > li.active > .g-menu-item-container:before {
    right: 15px;
    background-color: $accent-color-1;
  }
  .jl-navbar-nav {
    & > li > a,
    & > li > .menu-item-toggle {
      min-height: $menustyle-item-height;
    }
  }
  // Extended style
  .jl-navbar-item,
  .jl-navbar-nav > li > a,
  .jl-navbar-toggle,
  .menu-item-toggle {
    min-height: $menustyle-item-height;
  }
  .jl-navbar-dropdown {
    background: $menustyle-sublevel-background;
  }
  .jl-navbar-nav > li > a,
  .jl-navbar-nav > li > .menu-item-toggle,
  .jl-search-toggle,
  .jl-navbar-toggle,
  .jl-logo {
    color: $menustyle-text-color;
  }
  .jl-search-toggle,
  .jl-navbar-toggle {
    &:hover,
    &:focus {
      color: $menustyle-text-color-active;
    }
  }
  .jl-navbar-nav > li:hover > a,
  .jl-navbar-nav > li:hover > .menu-item-toggle,
  .jl-navbar-nav > li > a:focus,
  .jl-navbar-nav > li > .menu-item-toggle:focus,
  .jl-navbar-nav > li > a[aria-expanded="true"],
  .jl-navbar-nav > li > .menu-item-toggle[aria-expanded="true"] {
    background-color: $menustyle-background-active;
    color: $menustyle-text-color-active;
  }

  .jl-navbar-nav > li > a:active,
  .jl-navbar-nav > li > .menu-item-toggle:active,
  .jl-navbar-nav > li.jl-active > a,
  .jl-navbar-nav > li.jl-active > .menu-item-toggle {
    background-color: $menustyle-background-active;
    color: $menustyle-text-color-active;
  }

  //Dropdown
  .jl-navbar-dropdown-nav > li > a {
    color: $menustyle-sublevel-text-color;
  }

  .jl-navbar-dropdown-nav > li > a:focus,
  .jl-navbar-dropdown-nav > li > a:hover {
    color: $menustyle-sublevel-text-color-hover;
  }

  .jl-navbar-dropdown-nav > li.jl-active > a {
    color: $menustyle-sublevel-text-color-active;
  }

  .jl-navbar-dropdown-nav .jl-nav-header {
    color: $menustyle-sublevel-text-color-active;
  }
  .jl-navbar-dropdown-nav .jl-nav-sub a {
    color: $menustyle-sublevel-text-color;
  }
  .jl-navbar-dropdown-nav .jl-nav-sub a:hover {
    color: $menustyle-sublevel-text-color-hover;
  }
  .jl-navbar-dropdown-nav .jl-nav-sub li.jl-active > a {
    color: $menustyle-sublevel-text-color-active;
  }
  .mobile-toggle {
    color: $offcanvas-toggle-color;
    &:focus,
    &:hover {
      color: $offcanvas-toggle-color-active;
    }
  }
}

//Subnav
.tm-nav-mobile {
  background: $offcanvas-background;
  color: $offcanvas-text-color;
  .jl-nav-default > li > a,
  .jl-nav-default > li > .menu-item-toggle,
  .jl-nav-default .jl-nav-header,
  .jl-nav-default .jl-nav-sub a,
  .jl-nav-primary > li > a,
  .jl-nav-primary > li > .menu-item-toggle,
  .jl-nav-primary .jl-nav-header,
  .jl-nav-primary .jl-nav-sub a {
    color: $offcanvas-text-color;
  }
  .jl-nav-default > li > a:hover,
  .jl-nav-default > li > .menu-item-toggle:hover,
  .jl-nav-default .jl-nav-sub a:hover,
  .jl-nav-primary > li > a:hover,
  .jl-nav-primary > li > .menu-item-toggle:hover,
  .jl-nav-primary .jl-nav-sub a:hover {
    color: $offcanvas-text-color-active;
  }
  .jl-nav-default > li.jl-active > a,
  .jl-nav-default > li.jl-active > .menu-item-toggle,
  .jl-nav-default .jl-nav-sub li.jl-active > a,
  .jl-nav-primary > li.jl-active > a,
  .jl-nav-primary > li.jl-active > .menu-item-toggle,
  .jl-nav-primary .jl-nav-sub li.jl-active > a {
    color: $offcanvas-text-color-active;
  }
}

.square-icon {
  .jl-icon-button {
    border-radius: 0;
    color: $accent-color-1;
  }
}

.jl-search-default .jl-search-input {
  border: none;
}

.jl-card-primary > .tm-timeline-arrow {
  background-color: $accent-color-1;
}

.jl-article {
  .jl-breadcrumb {
    margin-left: 0;
  }
}

.custom-toolbar,
.custom-copyright {
  .g-content {
    padding: 10px $content-padding;
    margin: 0 $content-margin;
  }
}

.custom-table-body {
  .tm-item-inner {
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(9, 11, 41, 0.1);
  }
}

.custom-carousel {
  .tm-image {
    background-color: #fff;
  }
}

// Misc
.jl-subnav-pill > * > :first-child {
  padding: 5px 20px;
}

.jl-alert-primary {
  background-color: $accent-color-1;
}

.jl-text-secondary {
  color: $accent-color-2 !important;
}
.tm-meta {
  .line {
    width: 66px;
    height: 2px;
    display: block;
    background: $accent-color-2;
    margin-left: auto;
    margin-right: auto;
  }
}

.jl-text-center {
  .feature-icon-home {
    .jl-icon-box {
      margin: 0 auto;
    }
  }
}

.subtitle {
  .tm-title {
    letter-spacing: 0.25em;
    display: inline-block;
    &:before {
      content: "";
      display: inline-block;
      margin-right: 12px;
      border-width: 5px;
      border-style: solid;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: $accent-color-2;
      border-bottom-color: $accent-color-2;
    }
  }
}

.jl-light {
  .subtitle .tm-title:after {
    background-color: $white;
  }
}
.custom-btn {
  .jl-link {
    border-radius: 50%;
    background: white;
    text-align: center;
    line-height: 65px;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.149);
      width: 85px;
      height: 85px;
      left: -10px;
      top: -10px;
    }
    span {
      color: $accent-color-1;
    }
  }
}
.mt-200 {
  margin-top: -200px;
  @include breakpoint(mobile-only) {
    margin-top: -150px;
  }
}
.mb-200 {
  margin-bottom: -200px;
  z-index: 1;
  @include breakpoint(mobile-only) {
    margin-bottom: 0;
  }
}

.jl-button-default {
  border-color: $accent-color-2 !important;
  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color-2 !important;
    color: $base-heading-color !important;
  }
}
.mt-150 {
  margin-top: -150px;
  @media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
    margin-top: -150px;
  }
}

.mb-200 {
  margin-bottom: -200px;
  @media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {
    margin-bottom: -150px;
  }
}

.back-to-top {
  border-radius: 3px;
}
