// Offline Form
.outline-_offline {
    text-align: inherit;
    #frame {
        max-width: 25rem;
        background: #ffffff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 20px -10px #4d79b3;
        color: #495057;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
        .inputbox {
            background-color: #fff;
            border: 1px solid #b8c9e0;
            border-radius: 0.25rem;
            &:hover,
            &:focus,
            &:active {
                border-color: $accent-color-1;
            }
        }
        .button.login {
            border: 1px solid transparent;
            border-radius: 0.25rem;
            cursor: pointer;
            display: inline-block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            padding: 0.5rem 1rem;
            text-align: center;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            background-color: $accent-color-1;
            border-color: $accent-color-1;
            color: #ffffff;
            width: 100%;
            box-sizing: border-box;
            &:hover,
            &:focus,
            &:active {
                background-color: darken($color: $accent-color-1, $amount: 5);
                border-color: darken($color: $accent-color-1, $amount: 5);
            }
        }
    }
}
